name: Cypress Smoke Tests

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  cypress-smoke:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Run Cypress Smoke Test
        uses: cypress-io/github-action@v5
        with:
          browser: chrome
          headless: true
          spec: "cypress/e2e/smokeTest.cy.js"

      - name: Upload screenshots/videos
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: cypress-artifacts
          path: cypress/screenshots/**, cypress/videos/**
